# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64

awesome-streamlit==20200728.1
streamlit==0.73.0
pandas==1.0.5 
matplotlib===3.2.2
hvplot==0.7.0
panel==0.10.2 
plotly==4.14.1
pathlib2==2.3.5 
holoviews==1.14.0 
hvplot==0.7.0
seaborn==0.10.1 
numpy==1.18.5
python-dotenv==0.15.0 



